*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    font-family:'Segoe UI',sans-serif;

    background:linear-gradient(
        135deg,
        #061530,
        #0f2348,
        #152f60
    );

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.container{

    width:100%;
    max-width:1400px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:80px;
}

.left-section{

    flex:1;
}

.left-section h1{

    font-size:90px;

    margin-bottom:10px;

    letter-spacing:2px;
}

.left-section h2{

    font-size:28px;

    margin-bottom:25px;

    color:#dbeafe;
}

.left-section p{

    font-size:18px;

    line-height:1.8;

    color:#cbd5e1;

    max-width:500px;
}

.right-section{

    flex:1;

    display:flex;
    justify-content:center;
}

.login-card{

    width:100%;
    max-width:450px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:25px;

    padding:40px;
}

.login-card h3{

    font-size:36px;

    margin-bottom:10px;
}

.subtitle{

    color:#cbd5e1;

    margin-bottom:30px;
}

.login-card input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    border-radius:12px;

    font-size:16px;

    outline:none;
}

.login-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    background:linear-gradient(
        90deg,
        #2563eb,
        #3b82f6
    );

    color:white;

    transition:0.3s;
}

.login-card button:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(37,99,235,0.3);
}

@media(max-width:900px){

    .container{

        flex-direction:column;

        text-align:center;
    }

    .left-section h1{

        font-size:60px;
    }

    .left-section{

        margin-bottom:20px;
    }
}